<template>
<div v-if="role == 'Administrador'">
    <section class="content-header">
      <h1>
        Cadastrar produto
        <small>Informe os dados abaixo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastrar Produto</li>
      </ol>
    </section>
    <section class="content">
        <form method="post" name="formCadastrarProduto" id="formCadastrarProduto">
            <div class="box-body" style="margin-left: -2px;">
                <div class="form-group">
                    <input type="number" name="cod" v-model="codProduto" id="cod" class="form-control" placeholder="Código do produto" required style="width: 200px" />
                </div>
                <div class="form-group">
                    <textarea id="descProduto" name="descProduto" v-model="descProduto" placeholder="Descrição do produto" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="precoProduto">Preço do produto:</label>
                    <money v-model="precoProduto"
                           v-bind="money"
                           id="precoProduto"
                           name="precoProduto"
                           class="form-control preco">
                    </money>
                </div>
                <div class="form-group">
                    <button type="submit" v-on:click="clickBtn" class="btn btn-primary" id="btnCadastra" name="btnCadastra">Cadastrar produto</button>
                </div>
                <div class="callout callout-danger alert mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
                    <p class="color-black"><b>Ooops!</b> Algo deu errado, tente novamente.</p>
                </div>
                <div class="callout callout-danger alert mgtp-5px" name="alert-existe" id="alert-existe" role="alert">
                    <p class="color-black"><b>Ooops!</b> O código <b>{{codProduto}}</b> já está cadastrado, insira outro.</p>
                </div>
                <div class="callout callout-warning alert mgtp-5px" name="alert-carregando" id="alert-carregando" role="alert">
                    <p class="color-black">Carregando, espere um pouco....</p>                
                </div>
                <div class="callout callout-success alert mgtp-5px" name="alert-success" id="alert-success" role="alert">
                    <p class="color-black"><b>Success!</b> Produto cadastrado.</p>                
                </div>
            </div>
        </form>
    </section>
</div>
<div v-else>
  <center><h4>Apenas <font color="red">Administradores</font> podem cadastrar produtos.</h4></center>
</div>
</template>
<script>
  import {Money} from 'v-money'

  export default {
    components: {Money},
    data () {
      return {
        codProduto: '',
        descProduto: '',
        precoProduto: '',
        role: '',
        money: {
          decimal: ',',
          thousands: '.',
          prefix: 'R$ ',
          precision: 2,
          masked: false
        }
      }
    },
    mounted () {
      this.role = localStorage.getItem('role')
    },
    methods: {
      clickBtn (e) {
        e.preventDefault()
        $('#alert-carregando').show()
        this.$http
        .post('cadastrar-produto', { codigo: this.codProduto, descProduto: this.descProduto, precoProduto: this.precoProduto })
        .then(function (result) {
          console.log(result.data)
          if (result.data.existe === true) {
            $('#alert-carregando').hide()
            $('#alert-existe').show()
            setTimeout(function () {
              $('#alert-existe').hide()
            }, 3000)
            return false
          }
          if (result.data) {
            $('#alert-carregando').hide()
            $('#alert-success').show()
            setTimeout(function () {
              $('#alert-success').hide()
            }, 3000)
          } else {
            $('#alert-carregando').hide()
            $('#alert-wrong').show()
            setTimeout(function () {
              $('#alert-wrong').hide()
            }, 3000)
          }
        })
      }
    }
  }
</script>
<style scoped>
#descProduto{
    width: 855px;
    height: 229px;
}

.preco{
    width: 855px;
}

.alert{
    width: 855px;
    display: none;
}
</style>
