<template>
<div class="login-box">
  <div class="login-logo">
    <img src="https://www.senior.com.br/wp-content/themes/senior-2016/images/logo-mobile.svg"></img>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form v-on:submit="clickBtn" method="POST" name="form-login" id="form-login">
      <div class="form-group has-feedback">
        <input type="text" v-model="username" name="username" id="username" required class="form-control" placeholder="Account Name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" v-model="password" name="password" id="password" required class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
      <div class="callout callout-danger uspass-wrong mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
        <p class="color-black">Usuário ou senha incorretos.</p>
      </div>
      <div class="alert callout-success alert-logando mgtp-5px" name="alert-success" id="alert-success" role="alert">
        <p class="color-black">Dados corretos, você está sendo logado.</p>
      </div>
      <div class="callout callout-warning mgtp-5px" name="alert-carregando" id="alert-carregando" role="alert">
        <p class="color-black">Carregando, espere um pouco....</p>
      </div>
      <div class="callout callout-danger mgtp-5px" name="alert-desativado" id="alert-desativado" role="alert">
        <p class="color-black">Conta desativada.</p>
      </div>
    </form>

    <!-- /.social-auth-links -->

    

  </div>
  <!-- /.login-box-body -->
</div>
            <!-- </div>            
        </div>
    </div>
</div>   -->
</template>
<script>
export default {
  name: 'login',
  data () {
    return {
      msgHello: 'Hello',
      msgBye: 'Bye',
      loading: false,
      'dados': [],
      'activated': 0
    }
  },
  mounted () {
    // this.$bus.$on('modal-open', (args) => {
    //   // TODO: args가 올바른지 확인해야함
    //   this.type = args.type
    //   this.title = args.title
    //   this.description = args.description
    //   this.confirmText = args.confirmText || '저장 후 닫기'
    //   this.cancelText = args.cancelText || '닫기'
    //   this.confirmBeforeHook = args.confirmBefore
    //   this.confirmAfterHook = args.confirmAfter
    //   this.cancelBeforeHook = args.cancelBefore
    //   this.cancelAfterHook = args.cancelAfter
    // })
    // $('#bsModal').modal('show')
    // $('#bsModal').on('show.bs.modal', (e) => {
    // })

    // $('#bsModal').on('hidden.bs.modal', (e) => {
    //   this.confirmAfterHook()
    //   this.cancelAfterHook()
    //   this.resetProperties()
    // })
  },
  methods: {
    clickBtn (e) {
      $('#alert-carregando').show()
      e.preventDefault()
      console.log('submit')
      this.$http.post('login', {username: this.username, password: this.password})
      .then(function (result) {
        if (result.data.activated === '0') {
          $('#alert-desativado').show()
          $('#alert-wrong').hide()
          $('#alert-carregando').hide()
          setTimeout(function () {
            $('#alert-desativado').hide()
          }, 5000)
          return false
        }
        if (result.data.dados.username) {
          console.log(result.data.dados)
          localStorage.setItem('username', result.data.dados.username)
          localStorage.setItem('token', result.data.dados.token)
          localStorage.setItem('role', result.data.dados.role)
          localStorage.setItem('vendaAtual', 1)
          window.location.href = '/dashboard'
        } else {
          $('#alert-carregando').hide()
          $('#alert-wrong').show()
          setTimeout(function () {
            $('#alert-wrong').hide()
          }, 5000)
          return false
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
body{
  background-color: #ecf0f5 !important;
}
</style>
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#alert-wrong{
  display: none;
}

#alert-existe{
  display: none;
}

#alert-desativado{
  display: none;
}


#alert-success{
  display: none;
}

#alert-carregando{
  display: none;
}

.logoLogin{
  margin-left: 100px;
}

.mgtp-5px{
  margin-top: 5px;
}

.form-login-class{
  width: 510px;
  margin: 0 auto;
  margin-top: 130px;
}

.login-logo{
  margin-left: -15px;
}

.login-logo > img {
  width: 300px;
}
</style>
