<template>
<div v-if="role == 'Administrador'">
  <section class="content-header">
      <h1>
        Total vendido
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Total vendido</li>
      </ol>
    </section>
    <section class="content">
      <table class="table table-striped table-bordered table-hover">
        <div  v-if="semDocumento == true">
        <center><h4>Nenhuma venda cadastrada</h4></center>
        </div>
          <thead v-else>
          <tr>
              <th>Número da venda</th>
              <th>Total de produtos</th>
              <th>Confirmado?</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in documento" :key="item.numeroVenda">
              <th>{{item.numeroVenda}}</th>
              <td>{{item.totalProdutos}}</td>
              <td>{{item.confirmado}}</td>
          </tr>
          </tbody>
      </table>
    </section>
</div>
<div v-else>
  <center><h4>Apenas <font color="red">Administradores</font> podem ver o total vendido.</h4></center>
</div>
</template>
<script>
export default {
  data () {
    return {
      documento: [],
      semDocumento: false,
      role: ''
    }
  },
  mounted () {
    this.getTotalVendido()
    this.role = localStorage.getItem('role')
  },
  methods: {
    getTotalVendido (e) {
      let vm = this
      this.$http
        .get('total-vendido')
        .then(function (result) {
          console.log(result.data)
          if (result.data) {
            vm.semDocumento = result.data.semDocumento
            vm.documento = result.data.totalVendido
          } else {
            console.log('else')
          }
        })
    }
  }
}
</script>
