<template>
<div>
    <section class="content-header">
        <h4>
            Venda atual: {{vendaAtual}}
        </h4>
    </section>
    <section class="content">
        <div class="box-body" style="margin-left: -2px; margin-top: -15px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label for="listP"><h4>Lista de Produtos:</h4></label>
                        <textarea id="listP" name="listP" v-model="listProdutos" placeholder="Lista de produtos adicionados" class="form-control" disabled></textarea> -->
                    <div class="table-responsive">
                        <h4>Lista de produtos:</h4>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Preço (R$)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in produtos" :key="item.cod">
                                <th>{{item.cod}}</th>
                                <td>{{item.descricao}}</td>
                                <td>{{item.preco}}</td>
                            </tr>
                            </tbody>
                            <tfoot v-if="totalProdutos != 0">
                                <tr>
                                    <th>Total</th>
                                    <td>{{totalProdutos}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="produto"><h4>Produto:</h4></label>
                        <input type="number" id="produto" name="produto" v-model="codProduto" placeholder="Código do produto" class="form-control" required />
                        <div class="form-group align-button">
                            <button type="submit" v-on:click="insertProduct" class="btn btn-primary" id="btnInsert" name="btnInsert">OK</button>
                        </div>
                    </div>
                    <div class="callout callout-danger alert-nexiste mgtp-5px" name="alert-nexiste" id="alert-nexiste" style="margin-top: 50px;" role="alert">
                        <p class="color-black"><b>Ooops!</b> Produto não cadastrado.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" v-on:click="cancel" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" id="btnCancel" name="btnCancel">Cancelar</button>
                        <cancelar-venda></cancelar-venda>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group" style="float: right">
                        <button type="submit" v-on:click="confirm" class="btn btn-success" id="btnConfirm" name="btnConfirm">Confirmar</button>
                    </div>               
                </div>
            </div>
            <div class="callout callout-danger alert mgtp-5px" name="alert-wrong" id="alert-wrong" role="alert">
                <p class="color-black"><b>Ooops!</b> Algo deu errado, tente novamente.</p>
            </div>
            <div class="callout callout-danger alert mgtp-5px" name="alert-cancel" id="alert-cancel" role="alert">
                <p class="color-black">Venda cancelada.</p>
            </div>
            <div class="callout callout-warning alert mgtp-5px" name="alert-carregando" id="alert-carregando" role="alert">
                <p class="color-black">Carregando, espere um pouco....</p>                
            </div>
            <div class="callout callout-success alert mgtp-5px" name="alert-success" id="alert-success" role="alert">
                <p class="color-black"><b>Success!</b> Venda confirmada.</p>                
            </div>
        </div>
    </section>
</div>
</template>
<script>
import axios from 'axios'
import CancelarVenda from '../components/CancelarVenda.vue'
export default {
  data () {
    return {
      codProduto: '',
      vendaAtual: 1,
      descProduto: '',
      precoProduto: '',
      cod: '',
      confirmado: 'Não',
      totalProdutos: 0,
      vendaBy: '',
      produtos: []
    }
  },
  mounted () {
    this.vendaAtual = localStorage.getItem('vendaAtual')
    this.vendaBy = localStorage.getItem('username')
  },
  methods: {
    insertProduct (e) {
      let vm = this
      e.preventDefault()
      this.$http
        .post('insert-product', {vendaBy: this.vendaBy, cod: this.codProduto, numeroVenda: this.vendaAtual, confirmado: this.confirmado, totalItens: this.totalProdutos})
        .then(function (result) {
          if (result.data.naoExiste === true) {
            $('#alert-nexiste').show()
            setTimeout(function () {
              $('#alert-nexiste').hide()
            }, 3000)
            return false
          } else {
            vm.produtos.push(result.data)
            vm.totalProdutos = vm.produtos.length
          }
        })
    },
    cancel (e) {
      e.preventDefault()
      let vm = this
      $('#confirm').on('click', function () {
        axios.post('cancelar-venda', {numeroVenda: vm.vendaAtual})
        .then(function (result) {
          if (result.data) {
            $('#exampleModal').modal('hide')
            vm.produtos = []
            vm.totalProdutos = 0
            $('#alert-cancel').show()
            setTimeout(function () {
              $('#alert-cancel').hide()
            }, 3000)
          } else {
          }
        })
      })
    },
    confirm (e) {
      e.preventDefault()
      let vm = this
      this.$http
        .post('confirmar-venda', {numeroVenda: this.vendaAtual, cod: this.codProduto, produtos: this.produtos})
        .then(function (result) {
          if (result.data) {
            $('#alert-carregando').hide()
            $('#alert-success').show()
            setTimeout(function () {
              $('#alert-success').hide()
              vm.produtos = []
              vm.vendaAtual++
              localStorage.setItem('vendaAtual', vm.vendaAtual)
              vm.totalProdutos = 0
            }, 3000)
          } else {
            $('#alert-carregando').hide()
            $('#alert-wrong').show()
            setTimeout(function () {
              $('#alert-wrong').hide()
            }, 3000)
          }
        })
    }
  },
  components: {
    'cancelar-venda': CancelarVenda
  }
}
</script>
<style>
#listP{
    width: 500px;
    height: 450px;
}

.align-button{
    margin-top: 5px;
    float: right;
}

.alert-nexiste{
    display: none;
}

.alert{
    display: none;
}

tfoot {color:red;}
</style>
