<template>
  <header class="main-header">
    <router-link to="home">
      <a href="/dashboard" class="logo">
        <span class="logo-mini"><b>D</b>S</span>
        <span class="logo-lg"><b>Desafio</b> Senior</span>
      </a>
    </router-link>

    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/static/img/perfil.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ currentUser.name }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="/static/img/perfil.jpg" class="img-circle" alt="User Image">

                <p>
                  {{ currentUser.name }}<br>
                  <small>{{ currentUser.position }}</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a v-on:click="clickBtn" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'va-navibar',
  data () {
    return {
      token: '0',
      username: ''
    }
  },
  mounted () {
    this.token = localStorage.getItem('token')
    this.username = localStorage.getItem('username')
  },
  methods: {
    clickBtn (e) {
      e.preventDefault()
      console.log('submit')
      this.$http
        .post('remove-token', {token: this.token})
        .then(function (result) {
          console.log(result)
          if (result.data) {
            console.log(result.data)
            localStorage.clear()
            window.location.href = '/login'
          } else {
            console.log('Error')
          }
        })
    }
  },
  computed: {
    ...mapGetters([
      'currentUser'
    ])
  }
}

</script>
